<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>试用平台 | 试用点评</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="/public/adminLTE/plugins/iCheck/all.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="/public/adminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/public/adminLTE/bower_components/select2/dist/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/public/adminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/public/adminLTE/dist/css/skins/_all-skins.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/public/css/sellTaskManager.css">
    <link rel="stylesheet" href="/public/css/widget.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/frame.css">
    <script src="/public/js/main.js"></script>
    <script>
    //获取店铺名
    window.onload = function(){
        ajaxGetshop()
       
        ajaxGetTaskList('',0,0,1,10,'','') //任务属性、店铺、产品、页数、时间1和2
        //window.setInterval(gettaskvalues, 1000);
        }
    </script>
        <style>
            .UrlTitle {
                padding: 25px;
                display:inline;
                font-size:30;
            }
            .geturl{
                width: 500px;
                display:inline;
            }
            .geturlclass{
                display:inline;
            }
        </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <%- include menu/header %>
    <!-- Left side column. contains the logo and sidebar -->
    <%- include menu/section %>

    <!-- 右侧任务区 -->
    <div class="content-wrapper">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">首页</h3>
            </div>
                <!-- /.box-header -->

                <div class="area-main">
    <div class="contentCard">
    <strong style="color:mediumvioletred">任务：</strong>
    <select id='taskSort' name='taskSort' onchange=''>
        <option value='0'>进行中的任务</option>
        <option value='1'>待支付任务</option>
        <option value='2'>已完成的任务</option>
        <option value='3'>已经取消的任务</option>
        <option value='4'>全部任务</option>
        <option value='5'>关闭中的任务</option>
    </select>
            <%- include menu/selectShopProduct %>

        <div class="taskFilterPanel mt10">
<!--             <span class="floatLeft mr10" title="任务号">任务号</span>
            <input type="text" id="taskId" class="floatLeft mr10 inputText"> -->
            <span>时间</span><input type="text" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask="">-
                  <input type="text" data-inputmask="'alias': 'yyyy-mm-dd'" data-mask="">
            <a style="height: 20px;">查询</a>
            <input type="hidden" id="tasknum" value=0> <input type="hidden" id="pagenum" value={pageNumber}>
        </div>

    <div class="taskfield">
        
<div>
            <div class="taskWrapper" style="overflow: hidden;" id="taskContainer">  <div class="taskCell">
        <div class="title clearfix">
        

        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511746302</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511746302 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-10 09:52</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/Fm8KQFZu2SX2im9SPadcG7PHMBI_"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：自主自产陈冠希同款新品男女羽绒保暖内胆马甲紫标羽绒服外套潮牌</span><br>
                            <span style="height:100px">单价：￥248.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">9</span></em>
                            <em class="cap">已接手：<span class="doing">9</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-10 20:40</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511746302" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511746302" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511746294</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511746294 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-10 09:52</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FuqdikVX4iS-5fMGvjBWXZI-wH7I"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：冠希同款紫标工装牛仔裤复古浅蓝水洗bf宽松直筒阔腿嘻哈潮老爹裤</span><br>
                            <span style="height:100px">单价：￥129.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">10</span></em>
                            <em class="cap">已接手：<span class="doing">10</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-10 20:50</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511746294" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511746294" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511746288</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511746288 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-10 09:52</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FoQVtSCUSGHjPSCltvvxorUxz_ca"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：自主自产陈冠希同款短毛呢夹克日系和风VV道袍kimono男士潮牌外套</span><br>
                            <span style="height:100px">单价：￥139.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">3</span></em>
                            <em class="cap">已接手：<span class="doing">3</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">0点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-10 20:10</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511746288" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511746288" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511713102</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511713102 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-09 00:27</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/Fm8KQFZu2SX2im9SPadcG7PHMBI_"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：自主自产陈冠希同款新品男女羽绒保暖内胆马甲紫标羽绒服外套潮牌</span><br>
                            <span style="height:100px">单价：￥248.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">9</span></em>
                            <em class="cap">已接手：<span class="doing">9</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-09 20:20</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511713102" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511713102" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511713090</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511713090 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-09 00:26</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FuqdikVX4iS-5fMGvjBWXZI-wH7I"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：冠希同款紫标工装牛仔裤复古浅蓝水洗bf宽松直筒阔腿嘻哈潮老爹裤</span><br>
                            <span style="height:100px">单价：￥129.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">10</span></em>
                            <em class="cap">已接手：<span class="doing">10</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-09 20:40</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511713090" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511713090" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511713085</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511713085 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-09 00:26</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FoQVtSCUSGHjPSCltvvxorUxz_ca"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：自主自产陈冠希同款短毛呢夹克日系和风VV道袍kimono男士潮牌外套</span><br>
                            <span style="height:100px">单价：￥139.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">3</span></em>
                            <em class="cap">已接手：<span class="doing">3</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">0点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-09 19:40</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511713085" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511713085" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511679601</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511679601 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-07 23:51</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FuqdikVX4iS-5fMGvjBWXZI-wH7I"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：冠希同款紫标工装牛仔裤复古浅蓝水洗bf宽松直筒阔腿嘻哈潮老爹裤</span><br>
                            <span style="height:100px">单价：￥129.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">10</span></em>
                            <em class="cap">已接手：<span class="doing">10</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-08 20:40</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511679601" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511679601" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511679594</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511679594 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-07 23:51</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FvkjyilA6T_cqKl5qwiAiOsB_qlS"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：自主自产陈冠希同款新品男女羽绒保暖内胆马甲紫标羽绒服外套潮牌</span><br>
                            <span style="height:100px">单价：￥248.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">9</span></em>
                            <em class="cap">已接手：<span class="doing">9</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-08 21:00</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511679594" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511679594" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511679591</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511679591 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-07 23:51</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FoQVtSCUSGHjPSCltvvxorUxz_ca"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：自主自产陈冠希同款短毛呢夹克日系和风VV道袍kimono男士潮牌外套</span><br>
                            <span style="height:100px">单价：￥139.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">3</span></em>
                            <em class="cap">已接手：<span class="doing">3</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">0点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-08 20:10</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511679591" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511679591" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="taskCell">
        <div class="title clearfix">
        
        <span class="shop floatLeft mr-20 ml10"> <i class="plat_small plat_TAOBAO"></i>
            专注防晒衣16年 面料
        </span>
        <span class="taskNo floatLeft mr-4">
            任务编号：
            <span>511647220</span>
        </span>
        <span class="taskNo floatLeft mr-4">
            <a href="/user/sdsubTask/taskSdDetailFlow?id=511647220 ">[任务详情]</a>
        </span>
        
        <span class="floatRight mr-8">
            任务状态：
            <span class="FINISHED">已完成</span>
        </span>
        <span class="floatRight mr-8">
            创建时间：
            <span>2018-11-07 00:07</span>
        </span>
        <span class="floatRight mr-8">
            任务类型：
            <span>当日购</span>
        </span>
    </div>
    <div class="body">
        <div class="wrq_task_list" style="height:auto"> 
            <table class="normTable">
                <thead>
                    <tr>
                        <td width="50%"></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                        <td width="100px"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <div style="wight:100px;float:left;margin-right:10px;"><img height="100px" width="100px" src="http://digg-public.qiniudn.com/FuqdikVX4iS-5fMGvjBWXZI-wH7I"></div>
                            <span style="height:100px">任务名称：1</span><br>
                            <span style="height:100px">商品名称：冠希同款紫标工装牛仔裤复古浅蓝水洗bf宽松直筒阔腿嘻哈潮老爹裤</span><br>
                            <span style="height:100px">单价：￥129.00，拍1件，</span><br>
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">总任务：<span class="finished">10</span></em>
                            <em class="cap">已接手：<span class="doing">10</span></em>
                            <!--
                            <em class="cap">已完成：<span class="doing"></span></em>
                            <em class="cap">已取消：<span class="doing"></span></em>
                            -->
                        </td>
                        <td style="text-align:left;">
                            <em class="cap">是否聊天：<span class=""></span></em>
                            <em class="cap">快递方式：<span class=""></span>商家快递</em>
                            <em class="cap">任务时间：<span class="">1点</span>-<span class="">21点</span></em>
                            <em class="cap">发布时间：<span class="">2018-11-07 21:00</span></em>
                        </td>
                        <td class="doing">
                            <a class="btnRepublish stdColorButton" href="/publish/app/sdPlanTask?taskId=511647220" target="_blank">一键发布</a>
                            <a class="btnRepublish stdColorButton cancel " href="javascript:;" data-taskid="511647220" target="_blank">撤销任务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
            <div class="pagin-btm clearFix ml20">
                <div class="pagination"><span class="current prev">上一页<b></b></span><span class="current">1</span><a href="javascript:;">2</a><a href="javascript:;">3</a><a href="javascript:;">4</a><a href="javascript:;" class="next">下一页<b></b></a></div>
            </div>
            <!--这里是分页区域-->
            <div class="taskPagination"></div>

            <div class="popWrapper" style="height: 1775px; width: 1200px; display: none;" id="tr_loading_mask">
                <div class="maskLayer"></div>
            </div>
        </div>


    </div>

<div class="row">

    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            <ul class="pagination">
                <li class="paginate_button active"><a href="#" tabindex="0">1</a></li>
                <li class="paginate_button "><a href="#" tabindex="0">2</a></li>
                <li class="paginate_button "><a href="#" tabindex="0">3</a></li>
                <li class="paginate_button "><a href="#" tabindex="0">4</a></li>
                <li class="paginate_button "><a href="#" tabindex="0">5</a></li>
                <li class="paginate_button "><a href="#" tabindex="0">6</a></li>
                <li class="paginate_button next" ><a href="#" tabindex="0">下一页</a></li>
            </ul>
        </div>
    </div>
</div>

</div>
</div>



        </div>
    </div>
    <%- include menu/footer %>
</div>

    <!-- /.box-body -->

</body>

</html>
