<!DOCTYPE html>
<html>
<head>
  <title>折试试 | 二维码</title>
  <!-- Tell the browser to be responsive to screen width -->
</head>
<body class="hold-transition login-page">
<div>
<Text>alipay淘宝 二维码</Text><br>
 <image src='https://shiyong-1251434521.cos.ap-shanghai.myqcloud.com/alipay.png'>
  </div>
  <div>
  <Text>京东 二维码</Text><br>
 <image src='https://shiyong-1251434521.cos.ap-shanghai.myqcloud.com/jd.png'>
</div>
<!-- /.login-box -->
</body>
</html>
