/* =============================================================================

	RESET.CSS
	version: 1.0
	updated: 2009-02-02, 11:47 GMT+1

============================================================================= */

/* =============================================================================
RESET
============================================================================= */

* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; font-weight: inherit; font-style: inherit; }
ol, ul { list-style-type: none;  list-style-position: outside; }
ol li, ul li{ list-style-type: none;  list-style-position: outside; }
a { text-decoration: none; outline: none; border: none; }
hr { }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remove textarea resize at Safari */
textarea { resize: none; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* 清理浮动 */
.fnClear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fnClear { zoom: 1; /* for IE6 IE7 */ }