<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <!-- 导航按钮-->
            <li>
                <a href="/sell">
                    <i class="fa fa-th"></i> <span>卖家中心</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/productpost">
                    <i class="fa fa-th"></i> <span>发布试用</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/productcomment">
                    <i class="fa fa-th"></i> <span>试用点评</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/productcommentmanager">
                    <i class="fa fa-th"></i> <span>点评管理</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/productmanager">
                    <i class="fa fa-th"></i> <span>试用管理</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/topup">
                    <i class="fa fa-th"></i> <span>财富中心</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>