<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <!-- 导航按钮-->
            <li>
                <a href="/public/adminLTE/pages/widgets.html">
                    <i class="fa fa-th"></i> <span>发布试用</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
                </a>
            </li>
            <!-- 导航按钮-->
            <!-- 导航按钮-->
            <li>
                <a href="/public/adminLTE/pages/widgets.html">
                    <i class="fa fa-th"></i> <span>试用订单</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <!-- 导航按钮-->
            <!-- 导航按钮-->
            <li>
                <a href="/public/adminLTE/pages/widgets.html">
                    <i class="fa fa-th"></i> <span>财务管理</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <!-- 导航按钮-->
            <!-- 下面都是官方提供的button -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>