<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <!-- 导航按钮-->

            <li>
                <a href="/sell/createtask">
                    <i class="fa fa-th"></i> <span>发布试用报告</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/taskcomment">
                    <i class="fa fa-th"></i> <span>发布评价报告</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">Hot</small>
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/taskmanager">
                    <i class="fa fa-th"></i> <span>试用管理</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/taskcommentmanager">
                    <i class="fa fa-th"></i> <span>报告管理</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/topup">
                    <i class="fa fa-th"></i> <span>我要充值</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
            <li>
                <a href="/sell/finance">
                    <i class="fa fa-th"></i> <span>财富中心</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>